html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

body {
    background-color: rgb(25, 66, 155);
    color: #d1d1d1;
    font-family: Arial, Helvetica, sans-serif;
}

#nombre {

    color: black;
}

.hide {
    display: none;
    flex-direction: column;
}

.show {
    display: block;
}

.hide1 {
    display: none;
    flex-direction: column;

}

.show1 {
    display: block;
}

.hide2 {
    display: none;
    flex-direction: column;
}

.show2 {
    display: block;
}

.hide3 {
    display: none;
    flex-direction: column;
}

.show3 {
    display: block;
}

.hide4 {
    display: none;
    flex-direction: column;
}

.show4 {
    display: block;
}

#nombre {
    display: flex;
    justify-content: center;

}

#img {
    display: flex;
    margin: auto;
    width: 100px;

}

#header {
    display: flex;
    justify-content: center;
}

#parrafo {
    display: flex;
    color: black;
    background-color: rgb(52, 119, 212);
    width: auto;
    height: auto;
    padding: 20px;
    border: 2px solid orange;
    margin: 90px;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: flex-end;
}